@import "reset";

*, *::before, *::after{
	box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
$bgColor : #415165;
$subTitleColor : #A00404;
$unitLength : 8px;
$unitLineWidth: 1px ;
$alphaBetSize : 8px;
$constant: 0px;

.div-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px 24px;

}
.area-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// font position
.font-center{
    text-align: center;
}
.font-postion-left{
    text-align: left;
    margin-left: 24px;
}
// 容器
.container{
    width: 1200px;
    margin: 0 auto;
}
// font style 
.italic{
    font-style: italic;
}
// font-size
.h1{
    font-size: $alphaBetSize*10;
    font-style: italic;
    line-height: 106px;
    font-weight: bold;
    font-family: Roboto;
}
.h2{
    font-size: $alphaBetSize*8;
    font-style: italic;
    line-height: 84px;
    font-weight: bold;
    font-family: Roboto;
}
.p-3{
    font-size: $alphaBetSize *3;
    line-height: 42px;
    font-weight: bold;
    font-family: Roboto;
}
.p-2{
    font-size: $alphaBetSize *3;
    line-height: $alphaBetSize * 4.5;
    font-style: italic;
    font-weight: bold;
    font-family: Roboto;

}
.info{
    padding-left: 440px;
    padding-right: 440px;
    font-size: 20px;
    line-height: 42px;
    font-weight: normal;
    font-family: Roboto;
}
// space between component
.ml{
    margin-left: 10px;
}
.mr{
    margin-right: 6px;
}
.mt4{
    margin-top: 4px;
}
.mt8{
    margin-top: $unitLength;
}
.mt12{
    margin-top: $unitLength*1.5;
}
.mt20{
    margin-top: 20px;
}
.mt28{
    margin-top: 28px;
}
.mt68{
    margin-top: 68px;
}
.mt144{
    margin-top: 144px;
}
.mb32{
    margin-bottom: $unitLength*4;
}
.mt-2{
    margin-top: $unitLength*2;
}
.mt-5{
    margin-top: $unitLength*5;
}
.mt-6{
    margin-top: $unitLength*6;
}
.mt-7{
    margin-top: $unitLength*7;
}
.ml-0{
    margin-left: $unitLength;
}
.ml-3{
    margin-left: $unitLength*3;
}
.mb-3{
    margin-bottom: $unitLength*3;
}
.mb-4{
    margin-bottom: $unitLength*4;
}
.mb-5{
    margin-bottom: $unitLength*5;
}
.mb-7{
    margin-bottom: $unitLength*7;
}

.hr-line{
    border-top: 1px solid #000;
}

.list-style{
    ul li::before {
        content: "\2022";
        color: #891818;
        font-weight: bold;
        display: inline-block; 
        width: 22px;
        margin-left: $unitLength*2;
    }
}
.text-left{
    text-align: left;
}

// area of web

.banner{
    background-image: url('../images/photo-1552393700-42696fb89bfa@2x.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 302px;
    padding-bottom: 302px;
    color: #fff;
    display: flex;
    // flex-direction: column;
	justify-content: center;
	align-items: center;
}

.brandInfo{

    background-size: cover;
    background-color: #000;
    color: #fff;
    padding-top: $unitLength*7;
    padding-bottom: $unitLength*20;

}
.workInfo{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    font-family: Roboto;
}
.artWork{
    h4{
        margin-top: $unitLength*2;
        font-weight: bold;
        font-family: Roboto;
        font-size: 20px;
        line-height: 28px;
    }
    ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}

.footer{
    margin-top: 144px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-color: #000;
    color: #fff;
    padding-top: 77px;
    padding-bottom: 77px;

}

// 下次可以使用first-child => 減少mb-XX 數量
// 太多mixin & include 反而難管理
// bg-size : cover 可以填滿整個可視窗口
// 用div 來替代圖片可以 => 但是在對齊的時候對準點不同 => img 就是正的 => 可能需要修改
// container 水平置中 + 上下padding 也可以有垂直置中的效果
// ?background 寬度寫死 在拉縮畫面超過100%的時候 會跑版 width: 1920px;margin: 0 auto;